<!DOCTYPE html>
<html>
  <head>
    <title>Wikipedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <% if @current_user %>
        Bonjour
          <b><%= @current_user.username %></b>
          <%= link_to "Sign out", '/sign_out', method: :delete %>
        <% end %>
    </header>	   
    <%= yield %>
  </body>
</html>
